<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.ChallengeMapper">

    <select id="queryAllChallengeBlocks" resultType="com.fjut.oj.pojo.ChallengeBlockForUser">
        SELECT
            cb.id AS id,
            cb.name AS name,
            SUM(score) AS totalScore
                FROM t_challenge_problem cp
            RIGHT JOIN t_challenge_block cb
            ON cb.id = cp.id
            GROUP BY cb.id
            ORDER BY id

    </select>


    <select id="queryChallengeBlockTotalScoreByBlockId" resultType="java.lang.Integer">
        SELECT
            SUM(score) AS totalScore
                FROM t_challenge_problem cp
            RIGHT JOIN t_challenge_block cb
            ON cb.id = cp.id
            WHERE cb.id = #{blockId}
            GROUP BY cb.id
    </select>


    <select id="queryShowedChallengeBlocksByUsername" resultType="java.lang.Integer">

    SELECT c.belongBlockId id FROM t_challenge_condition c
        WHERE par IN
        (SELECT block FROM t_challenge_openblock WHERE username=#{username})
    UNION
    (SELECT block id FROM t_challenge_openblock WHERE username=#{username})
    ORDER BY id

    </select>


    <select id="queryAllChallengeConditions" resultType="com.fjut.oj.pojo.t_challenge_condition">
        SELECT * FROM t_challenge_condition ORDER BY belongblockId

    </select>

    <select id="queryChallengeOpenBlocksByUsername" resultType="java.lang.Integer">
        SELECT
            block
            FROM t_challenge_openblock
            <if test="username != null">
                WHERE username = #{username}
            </if>
    </select>



    <select id="getChallengeBlocksScoredByUsername" resultType="com.fjut.oj.pojo.ChallengeBlockForUser">
        SELECT id, SUM(score) getScore FROM
            t_challenge_problem WHERE tpid IN
            (SELECT DISTINCT pid FROM statu WHERE ruser = #{username} AND result = 1)
            GROUP BY id
    </select>

    <select id="queryChallengeConditionByBlockId" resultType="com.fjut.oj.pojo.ChallengeConditionForBlock">
      SELECT c.par blockId, name, num FROM t_challenge_condition c,t_challenge_block b
        WHERE c.belongBlockId = #{blockId} and b.id = c.par
    </select>

    <select id="queryChallengeBlockByBlockId" resultType="com.fjut.oj.pojo.ChallengeBlock">
        SELECT * FROM t_challenge_block
            WHERE id = #{blockId}
    </select>

    <select id="queryChallengeBlockProblemByBlockId" resultType="com.fjut.oj.pojo.ChallengeProblemForBlock">
        SELECT
	        0 Solved,
	        id blockId,
	        cp.pid problemId,
	        tpid trueProblemId,
	        p.title title,
	        cp.score score
        FROM t_challenge_problem cp LEFT JOIN problem p ON cp.tpid = p.pid
        WHERE cp.id = #{blockId} ORDER BY cp.pid LIMIT #{startIndex},15
    </select>


    <select id="queryChallengeBlockProblemCountByBlockId" resultType="java.lang.Integer">
        SELECT
	        COUNT(pid)
        FROM t_challenge_problem
        WHERE t_challenge_problem.id = #{blockId}
    </select>


    <select id="queryAllBlockSolvedProblemByUsername" resultType="com.fjut.oj.pojo.Status">
        SELECT statu.pid,statu.result FROM statu
            WHERE ruser = #{username}
    </select>


</mapper>
