<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.ClockInMapper">

    <select id="queryAllClockInByDate" parameterType="java.util.Date" resultType="com.fjut.oj.pojo.t_clock_in">
        SELECT * FROM t_clock_in WHERE to_days(time) = to_days(#{time})
            ORDER BY time DESC
    </select>

    <select id="queryAllClockIn" resultType="com.fjut.oj.pojo.t_clock_in">
        SELECT * FROM t_clock_in
            ORDER BY time DESC
    </select>

    <select id="queryAllClockInByUsername" resultType="com.fjut.oj.pojo.t_clock_in">
        SELECT * FROM t_clock_in WHERE username = #{username}
            ORDER BY time DESC
            <if test="pageNum != null">
                LIMIT #{pageNum},10
            </if>
    </select>

    <select id="queryClockInByUsernameAndDate" resultType="com.fjut.oj.pojo.t_clock_in">
        SELECT *
            FROM
            t_clock_in
        WHERE username=#{username} AND to_days(time) = to_days(#{date})
            ORDER BY time DESC;
    </select>

    <insert id="insertClockIn" parameterType="com.fjut.oj.pojo.t_clock_in" >
        INSERT INTO t_clock_in(
            username,
            time,
            sign,
            ip,
            todytimes
        )
        VALUES (
            #{clockin.username},
            #{clockin.time},
            #{clockin.sign},
            #{clockin.ip},
            #{clockin.todytimes}
        )
    </insert>


</mapper>