<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.MessageMapper">

    <insert id="insertMessage" parameterType="com.fjut.oj.pojo.t_message">
        INSERT INTO t_message(
            user,
            statu,
            title,
            text,
            time,
            deadline
        )
         VALUES (
            #{message.user},
            #{message.statu},
            #{message.title},
            #{message.text},
            #{message.time},
            #{message.deadline}
         )
    </insert>

    <update id="updateMessageStatuByMid">
        UPDATE t_message SET statu=#{status}
            WHERE mid = #{mid}

    </update>

    <delete id="deleteMessageByMid">
        DELETE FROM t_message WHERE mid=#{mid}
    </delete>

    <delete id="deleteAllMessageByUser">
        DELETE FROM t_message WHERE user=#{username}
    </delete>

    <update id="updateAllMessageReadByUser">
        UPDATE t_message SET statu=1 WHERE user=#{username} AND statu = 0
    </update>

    <select id="queryAllMessageByUser" resultType="com.fjut.oj.pojo.t_message">
        SELECT * FROM t_message WHERE user = #{username}
            ORDER BY time DESC, mid DESC
        <if test="startIndex !=null">
            LIMIT #{startIndex},10
        </if>
    </select>


    <select id="queryMessageCountByUser" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_message WHERE user = #{username}
    </select>

    <select id="queryUnReadMessageCountByUser" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_message WHERE user = #{username} and statu = 0
    </select>

    <select id="queryUnReadMessageByUser" resultType="com.fjut.oj.pojo.t_message">
        SELECT * FROM t_message WHERE user = #{username} and statu = 0
            ORDER BY time DESC, mid DESC
        <if test="startIndex != null">
            LIMIT #{startIndex},10
        </if>
    </select>


</mapper>
