<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.ProblemSampleMapper">

   <select id="queryProblemsampleById" resultType="com.fjut.oj.pojo.Problemsample">
       SELECT *
       FROM t_problem_sample
       WHERE pid = #{pid}
       ORDER BY id
   </select>

    <insert id="insertProblemSample" parameterType="com.fjut.oj.pojo.Problemsample">
        insert into
        t_problem_sample
        values(
        #{problemsample.pid},
        #{problemsample.id},
        #{problemsample.input},
        #{problemsample.output}
        )
    </insert>

</mapper>