<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.ProblemTagMapper">

    <select id="queryAllProblemTag" resultType="com.fjut.oj.pojo.Problem_tag">
        SELECT * FROM t_problem_tag ORDER BY id
    </select>

    <select id="problemTagRecord" resultType="com.fjut.oj.pojo.t_problem_tag_record">
        SELECT *
        FROM t_problem_tag_record
        WHERE pid=#{pid}
        <if test="username != null and username != '' ">
          AND username=#{username}
        </if>
    </select>

    <select id="problemTagRecordLimitNum" resultType="com.fjut.oj.pojo.t_problem_tag_record">
        SELECT *
        FROM t_problem_tag_record
        WHERE pid=#{pid}
        order by rating desc,username  limit #{from},#{num}
    </select>

    <insert id="addTag" parameterType="com.fjut.oj.pojo.t_problem_tag_record">
        REPLACE INTO
        t_problem_tag_record
        VALUES(#{pid},#{username},#{tagid},#{rating})
    </insert>

    <delete id="delTag" parameterType="com.fjut.oj.pojo.t_problem_tag_record">
        DELETE FROM t_problem_tag_record
         WHERE pid=#{pid} AND username=#{username} AND tagid=#{tagid}
    </delete>

    <insert id="addProblemTag" parameterType="com.fjut.oj.pojo.Problem_tag">
        INSERT INTO t_problem_tag(name)
        VALUES(#{tagName})
    </insert>

    <update id="renameProblemTag" parameterType="com.fjut.oj.pojo.Problem_tag">
        UPDATE t_problem_tag
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <select id="queryUserTag1" resultType="com.fjut.oj.pojo.UserTag1">
        (select username,ttype,count(*) as num
        from (SELECT username,pid
        FROM t_usersolve where username=#{username} and status=1)
        a join (SELECT pid,(SELECT ttype FROM t_problem_tag WHERE id=tagid) as ttype,sum(rating-500) as ss
        FROM t_problem_tag_record group by ttype,pid) b on a.pid=b.pid where b.ss>0 group by ttype)
    </select>

    <select id="queryUserTag2" resultType="com.fjut.oj.pojo.UserTag2">
       (select ttype,count(*) as num from
       (SELECT username,pid FROM t_usersolve where  status=1)
       a join (SELECT pid,(SELECT ttype FROM t_problem_tag WHERE id=tagid) as ttype,sum(rating-500)
       as ss  FROM t_problem_tag_record group by ttype,pid) b on a.pid=b.pid where b.ss>0 group by ttype)
    </select>

</mapper>