<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.StatusMapper">

    <select id="ShowAllStatus" resultType="com.fjut.oj.pojo.Status">
        SELECT id,ruser,pid,lang,submitTime,result,score,timeUsed,memoryUsed,codelen
        FROM statu ORDER BY id DESC
    </select>

    <select id="getAllStatusByUsername" resultType="com.fjut.oj.pojo.Status">
        SELECT ruser, pid, submitTime, result
        FROM statu
        WHERE ruser = #{username}
    </select>

    <select id="allStatusNum" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM statu
    </select>

    <select id="queryStatus" resultType="com.fjut.oj.pojo.ViewUserStatus">
        SELECT *
        FROM v_user_status
        LIMIT #{start}, 50
    </select>

    <select id="queryStatusById" resultType="com.fjut.oj.pojo.Status">
        SELECT *
        FROM statu
        WHERE id = #{id}
    </select>

    <select id="queryAllStatusByUser" resultType="com.fjut.oj.pojo.Status">
        SELECT id,ruser,pid,lang,submitTime,result,score,timeUsed,memoryUsed,codelen
        FROM statu
        WHERE ruser = #{ruser}
        ORDER BY id DESC
    </select>

    <select id="queryAllStatusByPid" resultType="com.fjut.oj.pojo.Status">
        select *
        from statu
        where pid = #{pid}
        order by id desc
    </select>

    <select id="queryAllStatusByConditions" resultType="com.fjut.oj.pojo.Status">
        select *
        from v_user_status
        <where>
            <if test="ruser != null and ruser != ''">
                and
                ruser = #{ruser}
            </if>
            <if test="pid != null">
                and
                pid = #{pid}
            </if>
            <if test="result != null">
                and
                result = #{result}
            </if>
            <if test="language != null">
                and
                lang = #{language}
            </if>
        </where>
        <if test="start != null">
            LIMIT #{start}, 50
        </if>
    </select>



    <select id="queryCountAllStatusByConditions" resultType="java.lang.Integer">
        select COUNT(*)
        from statu
        <where>
            <if test="ruser != null and ruser != ''">
                and
                ruser = #{ruser}
            </if>
            <if test="pid != null">
                and
                pid = #{pid}
            </if>
            <if test="result != null">
                and
                result = #{result}
            </if>
            <if test="language != null">
                and
                lang = #{language}
            </if>
        </where>
    </select>

    <select id="querySubmitCountByUsername" resultType="java.lang.Integer">
          SELECT COUNT(*)
          FROM statu
          WHERE ruser = #{ruser}
    </select>

    <select id="queryMaxStatusId" resultType="java.lang.Integer">
        select MAX(id)
        from statu
    </select>

    <insert id="insertStatus" parameterType="com.fjut.oj.pojo.Status">
        insert into statu
        values (
        #{status.id},
        #{status.ruser},
        #{status.pid},
        #{status.cid},
        #{status.lang},
        #{status.submitTime},
        #{status.result},
        #{status.score},
        #{status.timeUsed},
        #{status.memoryUsed},
        #{status.code},
        #{status.codelen}
        )
    </insert>

    <update id="updateStatus" parameterType="com.fjut.oj.pojo.Status">
        update statu
        set
          id = #{status.id},
          ruser = #{status.ruser},
          pid = #{status.pid},
          cid = #{status.cid},
          lang = #{status.lang},
          submitTime = #{status.submitTime},
          result = #{status.result},
          score = #{status.score},
          timeUsed = #{status.timeUsed},
          memoryUsed = #{status.memoryUsed},
          code = #{status.code},
          codelen = #{status.codelen}
        where id = #{status.id}
    </update>

    <select id="queryUserSolveProblemByUsername" resultType="com.fjut.oj.pojo.ViewUserSolve">
        SELECT ruser AS username,
            pid,
            MAX(result = 1) AS solved
            FROM statu WHERE ruser = #{username}
            GROUP BY ruser,pid
    </select>

</mapper>