<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.StatusMapper">

    <select id="querySubmitCountByUsername" resultType="java.lang.Integer">
          SELECT COUNT(*)
          FROM statu
          WHERE ruser = #{ruser}
    </select>



</mapper>