<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.SubmissionRecordMapper">
    <select id="getAreaSubmissionRecord" resultType="com.fjut.oj.pojo.SubmisssionRecord">
        select *
        FROM statu
        <where>
             submitTime &gt;= #{from} and submitTime &lt; #{to} AND result=1
        </where>
    </select>

    <select id="getFailAreaSubmissionRecord" resultType="com.fjut.oj.pojo.SubmisssionRecord">
        select * from statu
        where submitTime &gt;= #{from} and submitTime &lt; #{to} and result in (2,3,4,5,6,7,8)
    </select>
</mapper>
