<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.UserMapper">

    <select id="queryUserCount" resultType="java.lang.Integer">
        select count(*)
        from users
    </select>

    <insert id="insertUser" parameterType="com.fjut.oj.pojo.User">
          insert into users
          values(
          #{user.username},
          MD5(#{user.password}),
          #{user.nick},
          #{user.gender},
          #{user.school},
          #{user.Email},
          #{user.motto},
          #{user.registertime},
          #{user.type},
          #{user.Mark},
          #{user.rating},
          #{user.ratingnum},
          #{user.acb},
          #{user.name},
          #{user.faculty},
          #{user.major},
          #{user.cla},
          #{user.no},
          #{user.phone},
          #{user.acnum},
          #{user.inTeamStatus},
          #{user.inTeamLv},
          #{user.rank},
          #{user.graduationTime}
          )
    </insert>

    <select id="queryAwardInfo" resultType="com.fjut.oj.pojo.AwardInfo">
        SELECT time,contest_level,awards_level,text FROM t_team_member_info
        WHERE username1 = #{username} OR username2 = #{username} OR username3 = #{username} ORDER BY time
    </select>

    <select id="queryByUsernameAndPassword" resultType="com.fjut.oj.pojo.User">
        select *
        from Users
        <where>
            <if test="username != null and username != ''">
                and
                username = #{username}
            </if>
        </where>
    </select>

    <select id="queryAll" resultType="com.fjut.oj.pojo.User">
        select *
        from Users
    </select>

    <select id="queryUserByName" resultType="com.fjut.oj.pojo.User">
        select *
        from users
        <where>
            <if test="username != null and username != ''">
                and
                username = #{username}
            </if>
        </where>
    </select>

    <select id="getUserByUsernameAndPassword" resultType="java.lang.Integer">
        select count(*)
        from users
        <where>
            <if test="username != null and username != ''">
                and
                username = #{username}
                and
                password = MD5(#{password})
            </if>
        </where>
    </select>

    <update id="updateUserByUsername" parameterType="com.fjut.oj.pojo.User">
        	update users
        	set
              password= MD5(#{user.password}),
              nick = #{user.nick},
              gender = #{user.gender},
              school = #{user.school},
              Email = #{user.Email},
              motto = #{user.motto},
              type = #{user.type},
              Mark = #{user.Mark},
              rating = #{user.rating},
              ratingnum = #{user.ratingnum},
              acb = #{user.acb},
              name = #{user.name},
              faculty = #{user.faculty},
              major = #{user.major},
              cla = #{user.cla},
              no = #{user.no},
              phone = #{user.phone},
              acnum = #{user.acnum},
              inTeamStatus = #{user.inTeamStatus},
              inTeamLv = #{user.inTeamLv},
              `rank` = #{user.rank},
              graduationTime = #{user.graduationTime}
        	where username= #{user.username}
    </update>

    <delete id="deleteUserByUsername" parameterType="com.fjut.oj.pojo.User">
        delete from users where username  = #{username}
    </delete>

    <select id="queryUserRadar1" resultType="com.fjut.oj.pojo.UserRadar1">
        select username,ttype,count(*) as num
        from (SELECT username,pid FROM t_usersolve where username = #{user} and status=1)
        a join (SELECT pid,(SELECT ttype FROM t_problem_tag WHERE id=tagid)
        as ttype,sum(rating-500)
        as ss  FROM t_problem_tag_record group by ttype,pid) b on a.pid=b.pid where b.ss>0 group by ttype
    </select>


    <select id="queryUserRadar2" resultType="com.fjut.oj.pojo.UserRadar2">
        select ttype,count(*)
        as num from (SELECT username,pid FROM t_usersolve where  status=1) a join
        (SELECT pid,(SELECT ttype FROM t_problem_tag WHERE id=tagid) as ttype,sum(rating-500)
        as ss  FROM t_problem_tag_record group by ttype,pid) b on a.pid=b.pid where b.ss>0 group by ttype
    </select>

    <select id="queryPutTagNumByUsername" resultType="java.lang.Integer">
        SELECT COUNT(pid)
        FROM (SELECT username,pid FROM t_problem_tag_record GROUP BY username,pid)t
        WHERE username=#{username} GROUP BY username
    </select>

    <select id="queryStatusProblemsByUsername" resultType="java.lang.Integer">
        SELECT pid
        FROM t_usersolve
        WHERE STATUS=#{status} AND username=#{username}
    </select>

    <select id="queryCanViewCodeProblemsByUsername" resultType="java.lang.Integer">
        SELECT pid FROM t_viewcode WHERE username=#{username} AND `type`=0
    </select>

    <select id="queryRichTop10" resultType="com.fjut.oj.pojo.User">
        SELECT * FROM users ORDER BY acb desc,rating desc LIMIT 0,10
    </select>

    <select id="queryAcnumTop10" resultType="com.fjut.oj.pojo.User">
        SELECT * FROM users ORDER BY acnum desc,rating desc LIMIT 0,10
    </select>

    <select id="queryUserPermission" resultType="java.lang.Integer">
        select perid from userper where username=#{username}
    </select>

    <select id="getRatingTop" resultType="com.fjut.oj.pojo.User">
        SELECT username,nick,rating FROM users ORDER BY rating DESC LIMIT 0,10
    </select>

    <select id="getRichTop" resultType="com.fjut.oj.pojo.User">
        SELECT username,nick,acb FROM users ORDER BY acb DESC,rating DESC LIMIT 0,10
    </select>

    <select id="getAcTop" resultType="com.fjut.oj.pojo.User">
        SELECT username,nick,acnum FROM users ORDER BY acnum DESC,rating DESC LIMIT 0,10
    </select>

    <select id="getRatingGraph" resultType="com.fjut.oj.pojo.RatingGraph">
        SELECT `time`,rating FROM t_rating where username = #{username} ORDER BY `time` DESC
    </select>

    <update id="addAcnum">
        update users
        set acnum = acnum + 1
        where username = #{username}
    </update>
</mapper>