<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fjut.oj.mapper.UserSolveMapper">

    <select id="queryByUsernameAndPid" resultType="com.fjut.oj.pojo.UserSolve">
        SELECT *
        FROM t_usersolve
        WHERE username=#{username} AND pid=#{pid}
    </select>

    <select id="queryACProblem" resultType="com.fjut.oj.pojo.UserSolve">
        SELECT *
        FROM t_usersolve
        WHERE username=#{username} AND pid=#{pid} AND status=1
    </select>

    <insert id="replaceUserSolve" parameterType="com.fjut.oj.pojo.UserSolve">
        replace into
        t_usersolve
        values(
        #{username},
        #{pid},
        #{status}
        )
    </insert>

</mapper>